{% extends 'exhibition/base.html' %}
{% load static %}
{% block head_title %}ARTA{% endblock %}
{% block main_area %}
    <div class="row" style="background-color: #89c6d0">
        <div class="container" style="text-align: center">
            <h5>
                landing
            </h5>
        </div>
    </div>
    <div class="row">
        <img src="{% static 'images/poster_1.jpg' %}" alt="no pic" width="100%"/>
        <img src="{% static 'images/poster_2.jpg' %}" alt="no pic" width="100%"/>
    </div>
{% endblock %}