{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>footer</title>#}
{#</head>#}
{##}
{#<style>#}
{#    .footer_row{#}
{#        width: 100%;#}
{#        display: flex;#}
{#        flex-direction: row;#}
{#        justify-content: center;#}
{#        align-items: center;#}
{#        padding-top: 1%;#}
{#        padding-bottom: 1%;#}
{#        flex-wrap: nowrap;#}
{#    }#}
{##}
{#    .pagination {#}
{#        width: 100%;#}
{#    }#}
{##}
{#    .page-item {#}
{#        display: inline-block;#}
{#        color: #5CA4A2;#}
{#        border: 0;#}
{#        padding: 0;#}
{#    }#}
{##}
{#    .page-link {#}
{#        text-align: center;#}
{#    }#}
{##}
{#    .page-fake {#}
{#        visibility: hidden;#}
{#        width: 15vw;#}
{#        border: 1px solid #5CA4A2;#}
{#    }#}
{##}
{##}
{#</style>#}
{##}
{#<body>#}
{#<div class="row">#}
{#    <div class="footer_row col-xs-12"> <!--아래 페이징 공간-->#}
{#        <footer>#}
{#            <ul class="pagination pagination-sm">#}
{#                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>#}
{#                <li class="page-item"><a class="page-fake" href="#"><i class="" aria-hidden="true"></i></a></li>#}
{#                <li class="page-item"><a class="page-fake" href="#"><i class="" aria-hidden="true"></i></a></li>#}
{#                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>#}
{#            </ul>#}
{#        </footer>#}
{#    </div>#}
{#</div>#}
{#</body>#}
{#</html>#}
<!-- Footer -->

<footer style="padding: 5rem;background-color: #5eaaa8;">
    <div class="container">
        <p style="color: #fff; text-align: center;margin: 0;">
            Copyright &copy; 화인부락
        </p>
    </div>
</footer>
