{% extends 'exhibition/ARTA_header.html' %}
{% load static %}
{% block header_title %}<title>좋아요 목록보기</title>{% endblock %}

{% block script_blcok %}{% endblock %}
{% block style_blcok %}
    <link rel="stylesheet" href="{% static 'exhibition/css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'exhibition/css/LikePage_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'exhibition/css/pagination.css' %}"/>
    <style>
        .category_list {
            width: 100%;
            height: 100%;
            margin: 0;
            padding-left: 8%;
            overflow: visible;
        }

        li {
            padding-right: 2%;
            line-height: 1.3;
            font-size: 10px;

        }

        li > a {
            font-size: 10px;
            text-decoration: none;
        }

        .category_list > li:link > a {
            text-decoration: none;
            color: #A0CDC5;
            font-weight: normal;
        }

        .category_list > li:visited > a,
        .category_list > li:active > a,
        .category_list > li:hover > a {
            text-decoration: none;
            color: #5CA4A2;
            font-weight: bold;
        }


        @media screen and (min-width: 992px) {
            .category_list {
                height: 100%;
                display: flex;
                align-content: center;
                flex-direction: column;
                flex-wrap: wrap;
                overflow: auto;
                padding: 0;
            }

            ul > li:first-child {
                padding-top: 10px;
            }

            li {
                padding-right: 0;
                padding-bottom: 10px;
                font-size: 15px;
            }

            li > a {
                font-size: 15px;
            }

        }

    </style>
{% endblock %}

{% block main_blcok %}
    <div class="row">
        <div class="aside_container col-md-1 col-md-push-11">
            <h2 class="h_name"> 좋아요 목록 </h2>
            <ul class="category_list">
                {#                <li>#}
                {#                    <a href="#">전체</a>#}
                {#                </li>#}
                <li>
                    <a href="/preference/exhibition/">전시회</a>
                </li>
                <li>
                    <a href="/preference/piece/">작품</a>
                </li>
            </ul>
        </div>
        <div class="content_container col-md-11 col-md-pull-1">
            <div class="article_container">
                <div class="article_block">
                    <div class="exhibition_img_block">
                        <a href="./user_exhibition_show.html" class="img_block">
                            <img class="exhibition_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="전시회1 포스터"/>
                            <div class="exhibition_action">
                                <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                            </div>
                        </a>
                    </div>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibitor">전시자명</p>
                    </a>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibition_name">전시회 이름</p>
                    </a>
                </div>
                <div class="article_block">
                    <div class="exhibition_img_block">
                        <a href="./user_exhibition_show.html" class="img_block">
                            <img class="exhibition_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="전시회1 포스터"/>
                            <div class="exhibition_action">
                                <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                            </div>
                        </a>
                    </div>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibitor">전시자명</p>
                    </a>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibition_name">전시회 이름</p>
                    </a>
                </div>
                <div class="article_block">
                    <div class="exhibition_img_block">
                        <a href="./user_exhibition_show.html" class="img_block">
                            <img class="exhibition_img" src="" alt="전시회1 포스터"/>
                            <div class="exhibition_action">
                                <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                            </div>
                        </a>
                    </div>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibitor">전시자명</p>
                    </a>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibition_name">전시회 이름</p>
                    </a>
                </div>
                <div class="article_block">
                    <div class="exhibition_img_block">
                        <a href="./user_exhibition_show.html" class="img_block">
                            <img class="exhibition_img" src="" alt="전시회1 포스터"/>
                            <div class="exhibition_action">
                                <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                            </div>
                        </a>
                    </div>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibitor">전시자명</p>
                    </a>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibition_name">전시회 이름</p>
                    </a>
                </div>
                <div class="article_block">
                    <div class="exhibition_img_block">
                        <a href="./user_exhibition_show.html" class="img_block">
                            <img class="exhibition_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="전시회1 포스터"/>
                            <div class="exhibition_action">
                                <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                            </div>
                        </a>
                    </div>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibitor">전시자명</p>
                    </a>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibition_name">전시회 이름</p>
                    </a>
                </div>
                <div class="article_block">
                    <div class="exhibition_img_block">
                        <a href="./user_exhibition_show.html" class="img_block">
                            <img class="exhibition_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="전시회1 포스터"/>
                            <div class="exhibition_action">
                                <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                            </div>
                        </a>
                    </div>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibitor">전시자명</p>
                    </a>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibition_name">전시회 이름</p>
                    </a>
                </div>
                <div class="article_block">
                    <div class="exhibition_img_block">
                        <a href="./user_exhibition_show.html" class="img_block">
                            <img class="exhibition_img" src="" alt="전시회1 포스터"/>
                            <div class="exhibition_action">
                                <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                            </div>
                        </a>
                    </div>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibitor">전시자명</p>
                    </a>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibition_name">전시회 이름</p>
                    </a>
                </div>
                <div class="article_block">
                    <div class="exhibition_img_block">
                        <a href="./user_exhibition_show.html" class="img_block">
                            <img class="exhibition_img" src="" alt="전시회1 포스터"/>
                            <div class="exhibition_action">
                                <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                            </div>
                        </a>
                    </div>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibitor">전시자명</p>
                    </a>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibition_name">전시회 이름</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="footer_row col-xs-12"> <!--아래 페이징 공간-->
            <footer>
                <ul class="pagination pagination-sm">
                    <li class="page-item"><a class="page-link" href="#"><i class="fa fa-chevron-left"
                                                                           aria-hidden="true"></i></a></li>
                    <li class="page-item"><a class="page-fake" href="#"><i class="" aria-hidden="true"></i></a></li>
                    <li class="page-item"><a class="page-fake" href="#"><i class="" aria-hidden="true"></i></a></li>
                    <li class="page-item"><a class="page-link" href="#"><i class="fa fa-chevron-right"
                                                                           aria-hidden="true"></i></a></li>
                </ul>
            </footer>
        </div>
    </div>
{% endblock %}