{% extends 'arta_front_develop/arta_base.html' %}
{% load static %}
{% block header_title %}<title>전시회 목록보기</title>{% endblock %}
{% block script_blcok %}{% endblock %}
{% block style_blcok %}
    <link rel="stylesheet" href="{% static 'css/exhibition_list_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/category.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}"/>
{% endblock %}

{% block main_blcok %}
    <div class="container-fluid">
        <!--category-->
        <div class="aside_container col-md-1 col-md-push-11">
            <ul class="category_list">
                <li><a href="#">전체</a></li>
                {% for category in categories %}
                    <li><a href="{{ category.get_absolute_url }}">{{ category.smallName }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <!--exhibition list-->
        <div class="content_container col-md-11 col-md-pull-1">
            <div class="article_container">
                {% for exhibition in exhibition_list %}
                    <div class="article_block">
                        <h2>{{ exhibition.name }}</h2>
                        <div class="exhibition_img_block">
                            <a href="{{ exhibition.get_absolute_url }}" class="img_block">
                                <img class="exhibition_img" src="{{ exhibition.poster.url }}" alt="전시회1 포스터"/>
                                <div class="exhibition_action">
                                    <p>{{ exhibition.explain }}</p>
                                </div>
                            </a>
                        </div>
                        <a href="{{ exhibition.get_absolute_url }}">
                            <p class="exhibitor">{{ exhibition.user.first_name }}</p>
                        </a>
                        <a href="{{ exhibition.get_absolute_url }}">
                            <p class="exhibition_name">{{ exhibition.name }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <!--아래 페이징 공간-->
            <div class="row">
                <div class="footer_row col-xs-12">
                    <footer>
                        <ul class="pagination pagination-sm">
                            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-chevron-left"
                                                                                   aria-hidden="true"></i></a></li>
                            <li class="page-item"><a class="page-fake" href="#"><i class="" aria-hidden="true"></i></a>
                            </li>
                            <li class="page-item"><a class="page-fake" href="#"><i class="" aria-hidden="true"></i></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-chevron-right"></i></a>
                        </ul>
                    </footer>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
