{% extends 'arta_front_develop/arta_base.html' %}
{% load static %}
{% block header_title %}<title>전시회 목록보기</title>{% endblock %}
{% block script_blcok %}{% endblock %}
{% block style_blcok %}
    <link rel="stylesheet" href="{% static 'css/exhibition_show_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/category.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}"/>
{% endblock %}

{% block main_blcok %}
    <div class="container-fluid">
        <div class="row">
            <div class="aside_container col-md-1 col-md-push-11">
                <p class="main_name"> 전시회 페이지</p>
                <div class="icon row">
                    <a class="share" id="btnKakao" href="javascript:shareKakao();">
                        <i class="fa fa-share-alt" style="font-size:13px" aria-hidden="true"></i>
                        <p class="icon_font"> 공유 </p>
                    </a>
                    <a class="bookmark" href="">
                        <i class="fa fa-heart" style="font-size:13px" aria-hidden="true"></i>
                        <p class="icon_font"> 좋아요 </p>
                    </a>
                    <a class="guest_book" href="#open">
                        <i class="fa fa-comment-alt" style="font-size:13px" aria-hidden="true"></i>
                        <p class="icon_font"> 방명록 </p>

                        <div class="modal-hidden" id="open">
                            <div class="modal-Box">
                                <p class="modal-name">전시회 방명록</p>
                                <a href="#close" class="modal-close"><i class="fas fa-times"></i></a>

                                <div class="comments">
                                    <div class="input-comment">
                                        <textarea class="form-control" id="new_comment" name="comment" rows="3"
                                                  placeholder="방명록을 입력해주세요"></textarea>
                                        <button class="submit_btn" type="submit" onclick="submitComment()">OK!</button>
                                    </div>
                                    <!--guest book-->
{#                                    {% if exhibition.guestbook_set %}#}
                                        {% for guestbook in exhibition.guestbook_set.iterator %}
                                            <div class="comment-row">
                                                <div class="store-comment">
                                                    <div class="comment-id">
                                                        <strong>{{ guestbook.user.username }}</strong>
                                                    </div>
                                                    <div class="comment-date">{{ guestbook.create_at }}</div>
                                                    <button class="cancle-button"><i class="fas fa-times"></i></button>
                                                </div>
                                                <div class="comment-content">{{ guestbook.content }}</div>
                                            </div>
                                        {% endfor %}
{#                                    {% else %}#}
{#                                        <p>아직 작성된 방명록이 없습니다! 당신이 첫번째 방명록을 달아주세여</p>#}
{#                                    {% endif %}#}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="content_container col-md-11 col-md-pull-1">
                <div class="article_container">
                    <div class="exhibition_poster">
                        <img class="exhibition_img" src="{{ exhibition.poster.url }}" alt="전시회1 포스터"/>
                        <div class="exhibition_info">
                            <p class="exhibit_day">{{ exhibition.start_at.date }} ~ {{ exhibition.end_at.date }}</p>
                            <p class="exhibitor"><strong>{{ exhibition.user.first_name }}</strong></p>
                            <p class="exhibition_name"><strong>{{ exhibition.name }}</strong></p>
                        </div>
                    </div>
                    <div class="exhibition_main">
                        <div class="exhibition_p">
                            <p>{{ exhibition.explain }}</p>
                        </div>
                        <div class="piece_container">
                            <!--piece-->
                            {% for piece in exhibition.piece_set.iterator %}
                                <div class="piece_img_block">
                                    <a href="{{ piece.get_absolute_url }}" class="img_block">
                                        <img class="piece_img" src="{{ piece.image.url }}" alt="작품1 이미지"/>
                                        <div class="piece_action">
                                            <p>{{ piece.author }}</p>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="footer_row col-xs-12"> <!--아래 페이징 공간-->
                <footer>
                    <ul class="pagination pagination-sm">
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-chevron-left"
                                                                               aria-hidden="true"></i></a></li>
                        <li class="page-item"><a class="page-fake" href="#"><i class="" aria-hidden="true"></i></a></li>
                        <li class="page-item"><a class="page-fake" href="#"><i class="" aria-hidden="true"></i></a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-chevron-right"
                                                                               aria-hidden="true"></i></a></li>
                    </ul>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}