<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>전시회 보기</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com"><!--font-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet"><!--font-->

    <link rel="stylesheet" href="../css/exhibition_show_style.css" />
    <link rel="stylesheet" href="../css/main.css" />
</head>

<script type="text/javascript">
    $(document).ready( function() {
        $("#header").load("./arta_header.html");
        $("#footer").load("./footer.html");
    });

    $(document).ready(function() {

        $(window).scroll( function(){

            $('.piece_action').each( function(i){
                var bottom_of_object = $(this).offset().top + $(this).outerHeight();
                var top_of_object = $(this).offset().top;
                var middle_of_window = $(window).scrollTop() + $(window).height()/2;
                var windowWidth = $(window).width();

                if( windowWidth < 992 && middle_of_window > top_of_object && middle_of_window < bottom_of_object){
                    //$(this).animate({'opacity':'1','margin-left':'0px'},500);
                    if ($(this).css("opacity")==0) {$(this).fadeTo(500,1);}
                } else { //object goes out of view (scrolling up)
                    if ($(this).css("opacity")==1) {$(this).fadeTo(500,0);}
                }

            });
        });
    });


</script>

<body>
<div class="container-fluid">
    <header id = "header"></header>
    <div class="row">
        <div class="aside_container col-md-1 col-md-push-11">
            <p class="main_name"> 전시회 페이지</p>
            <div class="icon row">
                <a class="share" id="btnKakao" href="javascript:shareKakao();">
                    <i class="fa fa-share-alt" style="font-size:13px" aria-hidden="true"></i>
                    <p class="icon_font"> 공유 </p>
                </a>
                <a class="bookmark" href="">
                    <i class="fa fa-heart" style="font-size:13px" aria-hidden="true"></i>
                    <p class="icon_font"> 좋아요 </p>
                </a>
                <a class="guest_book" href="#open">
                    <i class="fa fa-comment-alt" style="font-size:13px" aria-hidden="true"></i>
                    <p class="icon_font"> 방명록 </p>

                    <div class="modal-hidden" id="open">
                        <div class="modal-Box">
                            <p class="modal-name">전시회 방명록</p>
                            <a href="#close" class="modal-close"><i class="fas fa-times"></i></a>

                            <div class="comments">
                                <div class="input-comment">
                                    <textarea class="form-control" id="new_comment" name="comment" rows="3" placeholder="방명록을 입력해주세요"></textarea>
                                    <button class="submit_btn" type="submit" onclick="submitComment()">OK!</button>
                                </div>
                                <div class="comment-row">
                                    <div class="store-comment">
                                        <div class="comment-id"><strong>eunjjinn</strong></div>
                                        <div class="comment-date">2021-05-13 17:22:18</div>
                                        <button class="cancel-button"><i class="fas fa-times"></i></button>
                                    </div>
                                    <div class="comment-content">test1중 입니다...</div>
                                </div>
                                <div class="comment-row">
                                    <div class="store-comment">
                                        <div class="comment-id"><strong>eunjjinn</strong></div>
                                        <div class="comment-date">2021-05-13 17:22:18</div>
                                        <button class="cancel-button"><i class="fas fa-times"></i></button>
                                    </div>
                                    <div class="comment-content">test1중 입니다...</div>
                                </div>
                                <div class="comment-row">
                                    <div class="store-comment">
                                        <div class="comment-id"><strong>eunjjinn</strong></div>
                                        <div class="comment-date">2021-05-13 17:22:18</div>
                                        <button class="cancel-button"><i class="fas fa-times"></i></button>
                                    </div>
                                    <div class="comment-content">test1중 입니다...</div>
                                </div>
                                <div class="comment-row">
                                    <div class="store-comment">
                                        <div class="comment-id"><strong>eunjjinn</strong></div>
                                        <div class="comment-date">2021-05-13 17:22:18</div>
                                        <button class="cancel-button"><i class="fas fa-times"></i></button>
                                    </div>
                                    <div class="comment-content">test1중 입니다...</div>
                                </div>
                                <div class="comment-row">
                                    <div class="store-comment">
                                        <div class="comment-id"><strong>eunjjinn</strong></div>
                                        <div class="comment-date">2021-05-13 17:22:18</div>
                                        <button class="cancel-button"><i class="fas fa-times"></i></button>
                                    </div>
                                    <div class="comment-content">test1중 입니다...</div>
                                </div>
                                <div class="comment-row">
                                    <div class="store-comment">
                                        <div class="comment-id"><strong>eunjjinn</strong></div>
                                        <div class="comment-date">2021-05-13 17:22:18</div>
                                        <button class="cancel-button"><i class="fas fa-times"></i></button>
                                    </div>
                                    <div class="comment-content">test1중 입니다...</div>
                                </div>
                                <div class="comment-row">
                                    <div class="store-comment">
                                        <div class="comment-id"><strong>eunjjinn</strong></div>
                                        <div class="comment-date">2021-05-13 17:22:18</div>
                                        <button class="cancel-button"><i class="fas fa-times"></i></button>
                                    </div>
                                    <div class="comment-content">test1중 입니다...</div>
                                </div>
                                <div class="comment-row">
                                    <div class="store-comment">
                                        <div class="comment-id"><strong>eunjjinn</strong></div>
                                        <div class="comment-date">2021-05-13 17:22:18</div>
                                        <button class="cancel-button"><i class="fas fa-times"></i></button>
                                    </div>
                                    <div class="comment-content">test1중 입니다...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="content_container col-md-11 col-md-pull-1">
            <div class="article_container">
                <div class="exhibition_poster">
                    <img class="exhibition_img" src="https://i.imgur.com/YBIac9k.jpg" alt="전시회1 포스터"/>
                    <div class="exhibition_info">
                        <p class="exhibit_day">운영날짜..</p>
                        <p class="exhibitor"><strong>작가이름</strong></p>
                        <p class="exhibition_name"><strong>제목</strong></p>
                    </div>
                </div>
                <div class="exhibition_main">
                    <div class="exhibition_p">
                        <p>전시회 설명입니다. 이 전시회는 어떤어떤 곳에서 어떠한 이유로 개최되었고 이러이러한 작품들을 전시하고 있습니다.</p>
                    </div>
                    <div class="piece_container">
                        <div class="piece_img_block">
                            <a href="#" class="img_block">
                                <img class="piece_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="작품1 이미지"/>
                                <div class="piece_action">
                                    <p> 작품 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                                </div>
                            </a>
                        </div>
                        <div class="piece_img_block">
                            <a href="#" class="img_block">
                                <img class="piece_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="작품1 이미지"/>
                                <div class="piece_action">
                                    <p> 작품 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                                </div>
                            </a>
                        </div>

                        <div class="piece_img_block">
                            <a href="#" class="img_block">
                                <img class="piece_img" src="https://newsimg.hankookilbo.com/cms/articlerelease/2018/10/26/201810260888392821_1.jpg" alt="작품1 이미지"/>
                                <div class="piece_action">
                                    <p> 작품 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                                </div>
                            </a>
                        </div>
                        <div class="piece_img_block">
                            <a href="#" class="img_block">
                                <img class="piece_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="작품1 이미지"/>
                                <div class="piece_action">
                                    <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                                </div>
                            </a>
                        </div>

                        <div class="piece_img_block">
                            <a href="#" class="img_block">
                                <img class="piece_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="작품1 이미지"/>
                                <div class="piece_action">
                                    <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                                </div>
                            </a>
                        </div>
                        <div class="piece_img_block">
                            <a href="#" class="img_block">
                                <img class="piece_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="작품1 이미지"/>
                                <div class="piece_action">
                                    <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                                </div>
                            </a>
                        </div>

                        <div class="piece_img_block">
                            <a href="#" class="img_block">
                                <img class="piece_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="작품1 이미지"/>
                                <div class="piece_action">
                                    <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                                </div>
                            </a>
                        </div>
                        <div class="piece_img_block">
                            <a href="#" class="img_block">
                                <img class="piece_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="작품1 이미지"/>
                                <div class="piece_action">
                                    <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="footer col-xs-12"> <!--아래 페이징 공간-->
                <footer id = "footer"></footer>
            </div>
        </div>
    </div>
</div>
</body>
</html>