<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>ARTA 소개</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/user_exhibition_list_style.css" />
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <link rel="stylesheet" href="../css/main.css">

    <link rel="preconnect" href="https://fonts.gstatic.com"> <!--font-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet"><!--font-->

    <script type="text/javascript">$(document).ready( function() {$("#header").load("./arta_header.html");});</script>
</head>

<style>
  .introduce {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-rigth: auto;
    padding: 17% 10% 165% 10%;
    object-fit: contain;
  }
  .arta {
    line-height: 165%;
  }

  @media screen and (min-width: 992px) {
    .introduce {
        padding: 10% 7% 50% 7%;
        border-bottom: 1px solid #5CA4A2;
    }
    .arta {
      line-height: 200%;
      font-size: 20px;
    }
    .intro {
      display: none;
    }
  }
</style>

<body>
<div class="container-fluid">
    <header id = "header"></header>

    <div class="row">
        <div class="aside_container col-md-1 col-md-push-11">
            <p class="intro">소개</p>
            <!-- <ul class="category_list">

            </ul> -->
        </div>
        <div class="content_container col-md-11 col-md-pull-1">
            <div class="article_container">
              <div class="introduce">
                <h5 class="arta">ARTA 아르타는 자유로운 <strong>온라인 전시회 플랫폼</strong>으로, 현재 운영 중인 온/오프라인 전시회를 추천받을 수 있으며
                관람객들간의 소통도 가능합니다. 순수 예술은 사회적으로 상류층이 향유하는 문화라는 편견이 있습니다.
                아르타는 집단 간의 <strong>문화 예술적 격차를 줄이는 것</strong>을 목표로 하며, 예술 분야를 대중이 쉽게 다가갈 수 있도록
                하는 <strong>전환점</strong>이 되고자 합니다.</h5>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="footer col-xs-12"> <!--아래 페이징 공간-->

        </div>
    </div>
</div>
</body>
</html>
