.introduce {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 17% 10% 165% 10%;
    object-fit: contain;
}

.arta {
    line-height: 165%;
}

@media screen and (min-width: 992px) {
    .introduce {
        padding: 10% 7% 50% 7%;
        border-bottom: 1px solid #5CA4A2;
    }

    .arta {
        line-height: 200%;
        font-size: 20px;
    }

    .intro {
        display: none;
    }
}