<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>좋아요 목록보기</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com"><!--font-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet"><!--font-->

    <link rel="stylesheet" href="../css/LikePage_style.css" />
    <link rel="stylesheet" href="../css/main.css" />
</head>

<script type="text/javascript">
    $(document).ready( function() {
        $("#header").load("./arta_header.html");
        $("#footer").load("./footer.html");
    });
</script>

<body>
<div class="container-fluid">
    <header id = "header"></header>
    <div class="row">
        <div class="aside_container col-md-1 col-md-push-11">
            <h2 class="h_name"> 좋아요 목록 </h2>
            <ul class="category_list">
                <li>
                    <a href="#">전체</a>
                </li>
                <li>
                    <a href="#">전시회</a>
                </li>
                <li>
                    <a href="#">작품</a>
                </li>
            </ul>
        </div>
        <div class="content_container col-md-11 col-md-pull-1">
            <div class="article_container">
                <div class="article_block">
                    <div class="exhibition_img_block">
                        <a href="./user_exhibition_show.html" class="img_block">
                            <img class= "exhibition_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="전시회1 포스터"/>
                            <div class="exhibition_action">
                                <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                            </div>
                        </a>
                    </div>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibitor">전시자명</p>
                    </a>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibition_name">전시회 이름</p>
                    </a>
                </div>
                <div class="article_block">
                    <div class="exhibition_img_block">
                        <a href="./user_exhibition_show.html" class="img_block">
                            <img class= "exhibition_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="전시회1 포스터"/>
                            <div class="exhibition_action">
                                <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                            </div>
                        </a>
                    </div>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibitor">전시자명</p>
                    </a>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibition_name">전시회 이름</p>
                    </a>
                </div>
                <div class="article_block">
                    <div class="exhibition_img_block">
                        <a href="./user_exhibition_show.html" class="img_block">
                            <img class= "exhibition_img" src="" alt="전시회1 포스터"/>
                            <div class="exhibition_action">
                                <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                            </div>
                        </a>
                    </div>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibitor">전시자명</p>
                    </a>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibition_name">전시회 이름</p>
                    </a>
                </div>
                <div class="article_block">
                    <div class="exhibition_img_block">
                        <a href="./user_exhibition_show.html" class="img_block">
                            <img class= "exhibition_img" src="" alt="전시회1 포스터"/>
                            <div class="exhibition_action">
                                <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                            </div>
                        </a>
                    </div>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibitor">전시자명</p>
                    </a>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibition_name">전시회 이름</p>
                    </a>
                </div>
                <div class="article_block">
                    <div class="exhibition_img_block">
                        <a href="./user_exhibition_show.html" class="img_block">
                            <img class= "exhibition_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="전시회1 포스터"/>
                            <div class="exhibition_action">
                                <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                            </div>
                        </a>
                    </div>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibitor">전시자명</p>
                    </a>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibition_name">전시회 이름</p>
                    </a>
                </div>
                <div class="article_block">
                    <div class="exhibition_img_block">
                        <a href="./user_exhibition_show.html" class="img_block">
                            <img class= "exhibition_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="전시회1 포스터"/>
                            <div class="exhibition_action">
                                <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                            </div>
                        </a>
                    </div>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibitor">전시자명</p>
                    </a>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibition_name">전시회 이름</p>
                    </a>
                </div>
                <div class="article_block">
                    <div class="exhibition_img_block">
                        <a href="./user_exhibition_show.html" class="img_block">
                            <img class= "exhibition_img" src="" alt="전시회1 포스터"/>
                            <div class="exhibition_action">
                                <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                            </div>
                        </a>
                    </div>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibitor">전시자명</p>
                    </a>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibition_name">전시회 이름</p>
                    </a>
                </div>
                <div class="article_block">
                    <div class="exhibition_img_block">
                        <a href="./user_exhibition_show.html" class="img_block">
                            <img class= "exhibition_img" src="" alt="전시회1 포스터"/>
                            <div class="exhibition_action">
                                <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                            </div>
                        </a>
                    </div>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibitor">전시자명</p>
                    </a>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibition_name">전시회 이름</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <footer id = "footer"></footer>
</div>
</body>
</html>