{% extends 'arta_front_develop/arta_base.html' %}
{% load static %}
{% block header_title %}<title>ARTA 검색</title>{% endblock %}
{% block script_blcok %}{% endblock %}

{% block style_blcok %}
    <link rel="stylesheet" href="{% static 'css/exhibition_list_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/search.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}"/>
{% endblock %}

{% block main_blcok %}
    <div class="container-fluid">
        <header id="header"></header>

        <div class="row">
            <div class="aside_container col-md-1 col-md-push-11">
                <p class="search_top">검색</p> <!--모바일 버전에서만 보임-->
            </div>
            <div class="content_container col-md-11 col-md-pull-1">
                <div class="article_container">
                    <div class="search_page col-lg-9">
                        <div class="nav_search col-lg-3"> <!--search 부분 nav-->
                            <a href="">전체</a>
                            <a href="">전시회</a>
                            <a href="">작가</a>
                        </div>
                        <form action="/search/key/" method="get"> <!--검색-->
                            <div class="input-group col-lg-9">

                                <input type="text" class="form-control" placeholder="검색어를 입력해주세요" name="search">
                                <div class="input-group-btn">
                                    <button class="btn search_click" type="submit">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                    <!-- <button class="btn search_btn" type="submit">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="footer_row col-xs-12"> <!--아래 페이징 공간-->
                    <div style="height: 50px"></div>
            </div>
        </div>
    </div>
{% endblock %}