{% extends 'arta_front_develop/arta_base.html' %}
{% load static %}
{% block header_title %}<title>ARTA 소개</title>{% endblock %}
{% block script_blcok %}{% endblock %}

{% block style_blcok %}
    <link rel="stylesheet" href="{% static 'css/exhibition_list_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/introduction.css' %}"/>
{% endblock %}

{% block main_blcok %}
<div class="container-fluid">
    <header id="header"></header>

    <div class="row">
        <div class="aside_container col-md-1 col-md-push-11">
            <p class="intro">소개</p>
            <!-- <ul class="category_list">

            </ul> -->
        </div>
        <div class="content_container col-md-11 col-md-pull-1">
            <div class="article_container">
                <div class="introduce">
                    <h5 class="arta">ARTA 아르타는 자유로운 <strong>온라인 전시회 플랫폼</strong>으로, 현재 운영 중인 온/오프라인 전시회를 추천받을 수 있으며
                        관람객들간의 소통도 가능합니다. 순수 예술은 사회적으로 상류층이 향유하는 문화라는 편견이 있습니다.
                        아르타는 집단 간의 <strong>문화 예술적 격차를 줄이는 것</strong>을 목표로 하며, 예술 분야를 대중이 쉽게 다가갈 수 있도록
                        하는 <strong>전환점</strong>이 되고자 합니다.</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="footer col-xs-12"> <!--아래 페이징 공간-->

        </div>
    </div>
</div>
{% endblock %}