{% extends 'arta_front_develop/arta_base.html' %}
{% load static %}
{% block header_title %}<title>ARTA 로그인</title>{% endblock %}
{% block script_blcok %}{% endblock %}
{% block style_blcok %}
    <style>
        #InputEmail {
            border: 1px solid #5CA4A2;
        }

        #InputPassword {
            border: 1px solid #5CA4A2;
        }

        .login_btn {
            border: 1px solid #5CA4A2;
            background-color: white;
            margin-top: 10px;
            padding: 7px;
            border-radius: 5px;
            font-size: 12px;
        }

        .password_btn {
            border: 1px solid #5CA4A2;
            background-color: white;
            margin-top: 10px;
            padding: 7px;
            border-radius: 5px;
            font-size: 12px;
        }

        .form-signin input[type="email"] {
            margin-bottom: 15px;
        }

        .form-signin input[type="password"] {
            margin-bottom: 15px;
        }

        @media screen and (min-width: 992px) {
            .login_top {
                display: none;
            }
        }
    </style>
{% endblock %}

{% block main_blcok %}


    <div class="container-fluid">
        <div class="row">
            <div class="aside_container col-md-1 col-md-push-11">
                <p class="login_top">로그인</p>
            </div>
            <div class="content_container col-md-11 col-md-pull-1">
                <div class="article_container">
                    <article>
                        <div class="col-sm-4">
                            <div class="login">
                                <form class="form-signin">
                                    <h4 class="form-signin-heading">로그인</h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="InputEmail">이메일</label>
                                            <input type="email" id="InputEmail" class="form-control"
                                                   placeholder="이메일을 입력하세요">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="InputPassword">비밀번호</label>
                                            <input type="password" id="InputPassword" class="form-control"
                                                   placeholder="비밀번호">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 col-xs-6">
                                            <button class="login_btn btn-block" type="submit">로그인</button>
                                        </div>
                                        <div class="col-md-6 col-xs-6">
                                            <button class="password_btn btn-block">비밀번호 찾기</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}