{% extends 'arta_front_develop/arta_base.html' %}
{% load static %}
{% block header_title %}<title>전시회 목록보기</title>{% endblock %}
{% block script_blcok %}{% endblock %}
{% block style_blcok %}
    <link rel="stylesheet" href="{% static 'css/exhibition_list_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/category.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}"/>
{% endblock %}

{% block main_blcok %}
    <div class="container-fluid">
        <!--category-->
        <div class="aside_container col-md-1 col-md-push-11">
            <ul class="category_list">
                <li><a href="#">전체</a></li>
                <li><a href="#">시각</a></li>
                <li><a href="#">산업</a></li>
                <li><a href="#">건축</a></li>
                <li><a href="#">패션</a></li>
                <li><a href="#">공예</a></li>
                <li><a href="#">예술</a></li>
                <li><a href="#">영상</a></li>
                <li><a href="#">게임</a></li>
            </ul>
        </div>

        <div class="content_container col-md-11 col-md-pull-1">
            <div class="article_container">
                <div class="article_block">
                    <h2>전시회 리스트1</h2>
                    <div class="exhibition_img_block">
                        <a href="/exhibition/1" class="img_block">
                            <img class="exhibition_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="전시회1 포스터"/>
                            <div class="exhibition_action">
                                <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                            </div>
                        </a>
                    </div>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibitor">전시자명</p>
                    </a>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibition_name">전시회 이름</p>
                    </a>
                </div>
                <div class="article_block">
                    <div class="exhibition_img_block">
                        <a href="./user_exhibition_show.html" class="img_block">
                            <img class="exhibition_img" src="https://i.imgur.com/YBIac9k.jpg" alt="전시회2 포스터"/>
                            <div class="exhibition_action">
                                <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                            </div>
                        </a>
                    </div>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibitor">전시자명</p>
                    </a>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibition_name">전시회 이름</p>
                    </a>
                </div>
                <div class="article_block">
                    <div class="exhibition_img_block">
                        <a href="./user_exhibition_show.html" class="img_block">
                            <img class="exhibition_img"
                                 src="https://newsimg.hankookilbo.com/cms/articlerelease/2018/10/26/201810260888392821_1.jpg"
                                 alt="전시회3 포스터"/>
                            <div class="exhibition_action">
                                <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???전시회 설명이 들어가야 합니다... 이게 맞는건가요??? 저는 이게 맞는 지도 모르겠고
                                    어쩌구
                                    저쩌구 너무 길면 어떻게 되는 것인가요?전시회 설명이 들어가야 합니다... 이게 맞는건가요??? 저는 이게 맞는 지도 모르겠고 어쩌구 저쩌구
                                    너무 길면
                                    설명이 들어가야 합니다... 이게 맞는건가요??? 저는 이게 맞는 지도 모르겠고 어쩌구 저쩌구 너무 길면 어떻게 되는 것인가요?</p>
                            </div>
                        </a>
                    </div>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibitor">전시자명</p>
                    </a>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibition_name">전시회 이름</p>
                    </a>
                </div>
                <div class="article_block">
                    <div class="exhibition_img_block">
                        <a href="./user_exhibition_show.html" class="img_block">
                            <img class="exhibition_img"
                                 src="http://img.sportsworldi.com/content/image/2020/11/05/20201105519244.jpg"
                                 alt="전시회4 포스터"/>
                            <div class="exhibition_action">
                                <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요??? 저는 이게 맞는 지도 모르겠고 어쩌구 저쩌구 너무 길면 어떻게 되는 것인가요?</p>
                            </div>
                        </a>
                    </div>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibitor">전시자명</p>
                    </a>
                    <a href="./user_exhibition_show.html">
                        <p class="exhibition_name">전시회 이름</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="footer_row col-xs-12"> <!--아래 페이징 공간-->
                <footer>
                    <ul class="pagination pagination-sm">
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-chevron-left"
                                                                               aria-hidden="true"></i></a></li>
                        <li class="page-item"><a class="page-fake" href="#"><i class="" aria-hidden="true"></i></a></li>
                        <li class="page-item"><a class="page-fake" href="#"><i class="" aria-hidden="true"></i></a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-chevron-right"
                                                                               aria-hidden="true"></i></a></li>
                    </ul>
                </footer>
            </div>
        </div>
    </div>

{% endblock %}
