{% extends 'arta_front_develop/arta_base.html' %}
{% load static %}
{% block header_title %}<title>좋아요 목록보기</title>{% endblock %}
{% block script_blcok %}{% endblock %}
{% block style_blcok %}
    <link rel="stylesheet" href="{% static 'css/LikePage_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}"/>
{% endblock %}

{% block main_blcok %}
    <div class="container-fluid">
        <header id="header"></header>
        <div class="row">
            <div class="aside_container col-md-1 col-md-push-11">
                <h2 class="h_name"> 좋아요 목록 </h2>
                <ul class="category_list">
                    <li>
                        <a href="#">전체</a>
                    </li>
                    <li>
                        <a href="#">전시회</a>
                    </li>
                    <li>
                        <a href="#">작품</a>
                    </li>
                </ul>
            </div>
            <div class="content_container col-md-11 col-md-pull-1">
                <div class="article_container">
                    <div class="article_block">
                        <div class="exhibition_img_block">
                            <a href="./user_exhibition_show.html" class="img_block">
                                <img class="exhibition_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="전시회1 포스터"/>
                                <div class="exhibition_action">
                                    <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                                </div>
                            </a>
                        </div>
                        <a href="./user_exhibition_show.html">
                            <p class="exhibitor">전시자명</p>
                        </a>
                        <a href="./user_exhibition_show.html">
                            <p class="exhibition_name">전시회 이름</p>
                        </a>
                    </div>
                    <div class="article_block">
                        <div class="exhibition_img_block">
                            <a href="./user_exhibition_show.html" class="img_block">
                                <img class="exhibition_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="전시회1 포스터"/>
                                <div class="exhibition_action">
                                    <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                                </div>
                            </a>
                        </div>
                        <a href="./user_exhibition_show.html">
                            <p class="exhibitor">전시자명</p>
                        </a>
                        <a href="./user_exhibition_show.html">
                            <p class="exhibition_name">전시회 이름</p>
                        </a>
                    </div>
                    <div class="article_block">
                        <div class="exhibition_img_block">
                            <a href="./user_exhibition_show.html" class="img_block">
                                <img class="exhibition_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="전시회1 포스터"/>
                                <div class="exhibition_action">
                                    <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                                </div>
                            </a>
                        </div>
                        <a href="./user_exhibition_show.html">
                            <p class="exhibitor">전시자명</p>
                        </a>
                        <a href="./user_exhibition_show.html">
                            <p class="exhibition_name">전시회 이름</p>
                        </a>
                    </div>
                    <div class="article_block">
                        <div class="exhibition_img_block">
                            <a href="./user_exhibition_show.html" class="img_block">
                                <img class="exhibition_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="전시회1 포스터"/>
                                <div class="exhibition_action">
                                    <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                                </div>
                            </a>
                        </div>
                        <a href="./user_exhibition_show.html">
                            <p class="exhibitor">전시자명</p>
                        </a>
                        <a href="./user_exhibition_show.html">
                            <p class="exhibition_name">전시회 이름</p>
                        </a>
                    </div>
                    <div class="article_block">
                        <div class="exhibition_img_block">
                            <a href="./user_exhibition_show.html" class="img_block">
                                <img class="exhibition_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="전시회1 포스터"/>
                                <div class="exhibition_action">
                                    <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                                </div>
                            </a>
                        </div>
                        <a href="./user_exhibition_show.html">
                            <p class="exhibitor">전시자명</p>
                        </a>
                        <a href="./user_exhibition_show.html">
                            <p class="exhibition_name">전시회 이름</p>
                        </a>
                    </div>
                    <div class="article_block">
                        <div class="exhibition_img_block">
                            <a href="./user_exhibition_show.html" class="img_block">
                                <img class="exhibition_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="전시회1 포스터"/>
                                <div class="exhibition_action">
                                    <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                                </div>
                            </a>
                        </div>
                        <a href="./user_exhibition_show.html">
                            <p class="exhibitor">전시자명</p>
                        </a>
                        <a href="./user_exhibition_show.html">
                            <p class="exhibition_name">전시회 이름</p>
                        </a>
                    </div>
                    <div class="article_block">
                        <div class="exhibition_img_block">
                            <a href="./user_exhibition_show.html" class="img_block">
                                <img class="exhibition_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="전시회1 포스터"/>
                                <div class="exhibition_action">
                                    <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                                </div>
                            </a>
                        </div>
                        <a href="./user_exhibition_show.html">
                            <p class="exhibitor">전시자명</p>
                        </a>
                        <a href="./user_exhibition_show.html">
                            <p class="exhibition_name">전시회 이름</p>
                        </a>
                    </div>
                    <div class="article_block">
                        <div class="exhibition_img_block">
                            <a href="./user_exhibition_show.html" class="img_block">
                                <img class="exhibition_img" src="https://i.imgur.com/hiTuxfv.jpeg" alt="전시회1 포스터"/>
                                <div class="exhibition_action">
                                    <p> 전시회 설명이 들어가야 합니다... 이게 맞는건가요???</p>
                                </div>
                            </a>
                        </div>
                        <a href="./user_exhibition_show.html">
                            <p class="exhibitor">전시자명</p>
                        </a>
                        <a href="./user_exhibition_show.html">
                            <p class="exhibition_name">전시회 이름</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="footer_row col-xs-12"> <!--아래 페이징 공간-->
                <footer>
                    <ul class="pagination pagination-sm">
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-chevron-left"
                                                                               aria-hidden="true"></i></a></li>
                        <li class="page-item"><a class="page-fake" href="#"><i class="" aria-hidden="true"></i></a></li>
                        <li class="page-item"><a class="page-fake" href="#"><i class="" aria-hidden="true"></i></a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-chevron-right"
                                                                               aria-hidden="true"></i></a></li>
                    </ul>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}